{% extends 'base.html' %}
{% load static  %}
{% block content %}
  <main>
    <article>

      <!--
        - #HERO
      -->

      <section class="hero text-center" aria-label="home" id="home">

        <ul class="hero-slider" data-hero-slider>

          <li class="slider-item active" data-hero-slider-item>

            <div class="slider-bg">
              <img src="{% static 'img/hero-slider-1.jpg' %}" width="1880" height="950" alt="" class="img-cover">
            </div>

            <h2 class="label-5 section-subtitle slider-reveal">Restaurant & Bar</h2>

            <h1 class="display-1 hero-title slider-reveal">
                Cocina Tradicional Cubana
            </h1>

            <p class="body-2 hero-text slider-reveal">
              Visita nuestro bar & restaurante y disfruta de una experiencia &uacute;nica
            </p>

            <a href="{% url 'Home' %}" class="btn btn-primary slider-reveal">
              <span class="text text-1">Descubre nuestro Men&uacute;</span>

              <span class="text text-2" aria-hidden="true">Descubre nuestro Men&uacute;</span>
            </a>

          </li>

          <li class="slider-item" data-hero-slider-item>

            <div class="slider-bg">
              <img src="{% static 'img/hero-slider-2.jpg' %}" width="1880" height="950" alt="" class="img-cover">
            </div>

            <h2 class="label-5 section-subtitle slider-reveal">Experiencias &Uacute;nicas</h2>

            <h1 class="display-1 hero-title slider-reveal">
              Cocteleria Nacional e <br>
              Internacional
            </h1>

            <p class="body-2 hero-text slider-reveal">
              Visita nuestro bar & restaurante y disfruta de una experiencia &uacute;nica
            </p>

            <a href="{% url 'Home' %}" class="btn btn-primary slider-reveal">
              <span class="text text-1">Descubre nuestro Men&uacute;</span>

              <span class="text text-2" aria-hidden="true">Descubre nuestro Men&uacute;</span>
            </a>

          </li>

          <li class="slider-item" data-hero-slider-item>

            <div class="slider-bg">
              <img src="{% static 'img/hero-slider-3.jpg' %}" width="1880" height="950" alt="" class="img-cover">
            </div>

            <h2 class="label-5 section-subtitle slider-reveal">Increible & Exquisito</h2>

            <h1 class="display-1 hero-title slider-reveal">
              Donde cada sabor <br>
              cuenta una historia
            </h1>

            <p class="body-2 hero-text slider-reveal">
              Visita nuestro bar & restaurante y disfruta de una experiencia &uacute;nica
            </p>

            <a href="{% url 'Home' %}" class="btn btn-primary slider-reveal">
              <span class="text text-1">Descubre nuestro Men&uacute;</span>

              <span class="text text-2" aria-hidden="true">Descubre nuestro Men&uacute;</span>
            </a>

          </li>

        </ul>

        <button class="slider-btn prev" aria-label="slide to previous" data-prev-btn>
          <ion-icon name="chevron-back"></ion-icon>
        </button>

        <button class="slider-btn next" aria-label="slide to next" data-next-btn>
          <ion-icon name="chevron-forward"></ion-icon>
        </button>


      </section>
    <!--
        - #SERVICE
      -->

      <section class="section service bg-black-10 text-center" aria-label="service">
        <div class="container">

          <p class="section-subtitle label-2">Sabores para la realeza</p>

          <h2 class="headline-1 section-title">Ofrecemos lo Mejor</h2>

          <p class="section-text">
              Ven a nuestro local y déjate sorprender por nuestro ambiente acogedor y elegante, donde te atenderemos
              con la máxima profesionalidad y cortesía.
          </p>

          <ul class="grid-list">

            <li>
              <div class="service-card">

                <a href="#" class="hover:shine">
                  <figure class="card-banner img-holder" style="--width: 285; --height: 336;">
                    <img src="{% static 'img/cena.jpg' %}" width="285" height="336" loading="lazy" alt="Cenas"
                      class="img-cover">
                  </figure>
                </a>

                <div class="card-content">

                  <h3 class="title-4 card-title">
                    <a href="{% url 'Home' %}">Cenas</a>
                  </h3>

                  <a href="{% url 'Home' %}" class="btn-text hover-underline label-2">Ver Menu</a>

                </div>

              </div>
            </li>

            <li>
              <div class="service-card">

                <a href="#" class="hover:shine">
                  <figure class="card-banner img-holder" style="--width: 285; --height: 336;">
                    <img src="{% static 'img/tacos.jpg' %}" width="285" height="336" loading="lazy" alt="Appetizers"
                      class="img-cover">
                  </figure>
                </a>

                <div class="card-content">

                  <h3 class="title-4 card-title">
                    <a href="{% url 'Home' %}">Aperitivos</a>
                  </h3>

                  <a href="{% url 'Home' %}" class="btn-text hover-underline label-2">Ver Menu</a>

                </div>

              </div>
            </li>

            <li>
              <div class="service-card">

                <a href="#" class="hover:shine">
                  <figure class="card-banner img-holder" style="--width: 285; --height: 336;">
                    <img src="{% static 'img/mojito1.jpg' %}" width="285" height="336" loading="lazy" alt="Drinks"
                      class="img-cover">
                  </figure>
                </a>

                <div class="card-content">

                  <h3 class="title-4 card-title">
                    <a href="{% url 'Home' %}">Bebidas</a>
                  </h3>

                  <a href="{% url 'Home' %}" class="btn-text hover-underline label-2">Ver Menu</a>

                </div>

              </div>
            </li>

          </ul>
            <img src="{% static 'img/shape-1.png' %}" width="246" height="412" loading="lazy" alt="shape"
            class="shape shape-1 move-anim">
          <img src="{% static 'img/shape-2.png' %}" width="343" height="345" loading="lazy" alt="shape"
            class="shape shape-2 move-anim">
        </div>
      </section>

<!--
        - #ABOUT
      -->

      <section class="section about text-center" aria-labelledby="about-label" id="about">
        <div class="container">

          <div class="about-content">

            <p class="label-2 section-subtitle" id="about-label">Sobre Nosotros</p>

            <h2 class="headline-1 section-title">Bar&Tapas el Guayabero</h2>

            <p class="section-text">
              Nos complace presentarles nuestro proyecto familiar Bar y Tapas ( El Guayabero ).
                Les invitamos a descubrir las tradiciones cubanas desde nuestro local y hacer de su estancia
                un momento feliz junto a nosotros, degustando de nuestras tapas y disfruntando de nuestra coctelería
                nacional e internacional.
                Trabajaremos con el placer de satisfacer sus necesidades.
                Nuestro equipo les está esperando.
            </p>

            <div class="contact-label">Reserva Ahora</div><br>

            <a href="tel:+53 52743295" class="body-1 contact-number hover-underline">+53 52743295</a><br>
              <a href="tel:+5354719933" class="body-1 contact-number hover-underline">+53 54719933</a>

          </div>

          <figure class="about-banner">

            <img src="{% static 'img/bar.jpg' %}" width="570" height="570" loading="lazy" alt="about banner"
              class="w-100" data-parallax-item data-parallax-speed="1">

            <div class="abs-img abs-img-1" data-parallax-item data-parallax-speed="1.75">
              <img src="{% static 'img/banner1.jpg' %}" style="border-radius: 50px;" width="285" height="285" loading="lazy" alt=""
                class="w-100">
            </div>

          </figure>

        </div>

      </section>

    </article>
  </main>

{% endblock %}