<!DOCTYPE html>
{% load static %}
<!--
This is a starter template page. Use this page to start your new project from
scratch. This page gets rid of all links and provides the needed markup only.
-->
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!--
    - primary meta tags
  -->
  <title>El Guayabero Restaurant and Bar</title>
  <meta name="title" content="El Guayabero Restaurant and Bar">

  <!--
    - favicon
  -->
  <link rel="shortcut icon" href="{% static 'img/favicon.svg' %}" type="image/svg+xml">

  <!--
    - google font link
  -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&family=Forum&display=swap" rel="stylesheet">

  <!--
    - custom css link
  -->
  <link rel="stylesheet" href="{% static 'css/style.css' %}">

  <!--
    - preload images
  -->
  <link rel="preload" as="image" href="{% static 'img/hero-slider-1.jpg' %}">
  <link rel="preload" as="image" href="{% static 'img/hero-slider-2.jpg' %}">
  <link rel="preload" as="image" href="{% static 'img/hero-slider-3.jpg' %}">

</head>

<body id="top">

  <!--
    - #PRELOADER
  -->

  <div class="preload" data-preaload>
    <div class="circle"></div>
    <p class="text">El Guayabero</p>
  </div>

    <!--
    - #TOP BAR
  -->

  <div class="topbar">
    <div class="container">

      <div class="separator"></div>

      <div class="topbar-item item-2">
        <div class="icon">
          <ion-icon name="time-outline" aria-hidden="true"></ion-icon>
        </div>

        <span class="span">Horario : 11:00 am a 11:00 pm</span>
      </div>

      <a href="tel:+5352743295" class="topbar-item link">
        <div class="icon">
          <ion-icon name="call-outline" aria-hidden="true"></ion-icon>
        </div>

        <span class="span">+53 52743295</span>
      </a>
        <a href="tel:+5354719933" class="topbar-item link">
        <div class="icon">
          <ion-icon name="call-outline" aria-hidden="true"></ion-icon>
        </div>

        <span class="span">+53 54719933</span>
      </a>

      <div class="separator"></div>

      <a href="mailto:elguayaberobar@gmail.com" class="topbar-item link">
        <div class="icon">
          <ion-icon name="mail-outline" aria-hidden="true"></ion-icon>
        </div>

        <span class="span">elguayaberobar@gmail.com</span>
      </a>

    </div>
  </div>

<header class="header" data-header>
    <div class="container">

      <a href="#" class="logo">
        <img src="{% static 'img/logo-removebg-preview.png' %}" width="80" height="50" alt="El Guayabero">
      </a>

      <nav class="navbar" data-navbar>

        <button class="close-btn" aria-label="close menu" data-nav-toggler>
          <ion-icon name="close-outline" aria-hidden="true"></ion-icon>
        </button>

        <a href="#" class="logo">
          <img src="{% static 'img/logo-removebg-preview.png' %}" width="160" height="50" alt="Grilli - Home">
        </a>

        <ul class="navbar-list">

          <li class="navbar-item">
            <a href="{% url 'abaut' %}" class="navbar-link hover-underline">
              <div class="separator"></div>

              <span class="span">Inicio</span>
            </a>
          </li>

          <li class="navbar-item">
            <a href="{% url 'Home' %}" class="navbar-link hover-underline">
              <div class="separator"></div>

              <span class="span">Men&uacute;</span>
            </a>
          </li>

          <li class="navbar-item">
            <a href="{% url 'abaut' %}#about" class="navbar-link hover-underline">
              <div class="separator"></div>

              <span class="span">Sobre Nosotros</span>
            </a>
          </li>


          <li class="navbar-item">
            <a href="{% url 'abaut' %}#footersl" class="navbar-link hover-underline">
              <div class="separator"></div>

              <span class="span">Contacto</span>
            </a>
          </li>

        </ul>

        <div class="text-center">
          <p class="headline-1 navbar-title">Visitanos</p>

          <address class="body-4">
            Calle Central Melilla, Rafael Freyre 83300 Cuba
          </address>

          <p class="body-4 navbar-text">Abrimos: 11:00 am - 11:00 pm</p>

          <a href="mailto:elguayaberobar@gmail.com" class="body-4 sidebar-link">elguayaberobar@gmail.com</a>

          <div class="separator"></div>

          <a href="tel:+5352743295" class="body-1 contact-number hover-underline">
            +53 52743295
          </a>
            <a href="tel:+5354719933" class="body-1 contact-number hover-underline">
            +53 54719933
          </a>
        </div>

      </nav>


      <button class="nav-open-btn" aria-label="open menu" data-nav-toggler>
        <span class="line line-1"></span>
        <span class="line line-2"></span>
        <span class="line line-3"></span>
      </button>

      <div class="overlay" data-nav-toggler data-overlay></div>

    </div>
  </header>


{% block content %}

{% endblock %}

  <footer id="footersl" class="footer section has-bg-image text-center">
    <div class="container">

      <div class="footer-top ">

        <div class="footer-brand has-before has-after">

          <a href="#" class="logo">
            <img src="{% static 'img/logo-removebg-preview.png' %}" width="160" height="50" loading="lazy" alt="grilli home">
          </a>

          <address class="body-4">
            Calle Central Melilla, Rafael Freyre 83300 Cuba
          </address>

          <a href="mailto:elguayaberobar@gmail.com" class="body-4 contact-link">elguayaberobar@gmail.com</a>

          <a href="tel:+5352743295" class="body-4 contact-link">Llama para reservar : +53 52743295</a>
          <a href="tel:+5354719933" class="body-4 contact-link">Llama para reservar : +53 54719933</a>

          <p class="body-4">
            Abierto : 11:00 am - 11:00 pm
          </p>

          <div class="wrapper">

          </div>
        </ul>
    <center>
        <ul class="navbar-list">

          <li>
            <a href="https://www.facebook.com/elguayaberobar" class="label-2 footer-link hover-underline"><img src="{% static 'img/facebook_logo_48px.png' %}">Faceboock</a>
          </li>

          <li>
            <a href="https://www.tripadvisor.es/Restaurant_Review-g910817-d24124059-Reviews-Restaurant_Bar_Y_Tapas_El_Guayabero-Rafael_Freyre_Holguin_Province_Cuba.html" class="label-2 footer-link hover-underline"><img src="{% static 'img/tripadvisor_48px.png' %}">Tripadvisor</a>
          </li>

          <li>

            <a href="https://goo.gl/maps/H7j3oF4pYg38ByTb8" class="label-2 footer-link hover-underline"><img src="{% static 'img/google_maps_old_48px.png' %}">Google maps </a>
          </li>

        </ul>
        </center>
        </div>


      </div>

    </div>
  </footer>





  <!--
    - #BACK TO TOP
  -->

  <a href="#top" class="back-top-btn active" aria-label="back to top" data-back-top-btn>
    <ion-icon name="chevron-up" aria-hidden="true"></ion-icon>
  </a>

  <!--
    - custom js link
  -->
  <script src="{% static 'js/script.js' %}"></script>

  <!--
    - ionicon link
  -->
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>
</html>
