{% extends 'base.html' %}
{% load static  %}
{% load widget_tweaks %}
{% block content %}
<style>
    #menu{
        background-image: url({% static 'img/shape-5.png' %});
    }
/* Style the button that is used to open and close the collapsible content */
.collapsible {
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .collapsible:hover {
    background-color: rgba(31,32,33,0.5);
}

/* Style the collapsible content. Note: hidden by default */
.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
}
</style>
      <section class="section menu" aria-label="menu-label" id="menu">
        <div class="container">
            <br><br>
          <p class="section-subtitle text-center label-2"></p>

          <h2 class="headline-1 section-title text-center">Nuestro Men&uacute;</h2>


               {% for m in modal %}
                   <div type="button" class="collapsible">
                   <p class="section-subtitle text-center label-2">{{ m.1 }} ↓ </p>
                   </div>
                   <div class="content">
                   <ul class="grid-list">
                   {% for c in object_list %}
                        {% if c.moda.codigo == m.0 %}
                            <li>
                            <div class="menu-card hover:card">
                       {% if c.foto %}
                           <figure class="card-banner img-holder" style="width: 100px">
                              <img src="{{ c.foto.url }}"  loading="lazy" alt="Greek Salad"
                                class="img-cover">
                            </figure>
                       {% else %}
                           <figure class="card-banner img-holder" style="width: 100px">
                              <img src="{% static 'img/logo.jpg' %}"  loading="lazy" alt="Greek Salad"
                                class="img-cover">
                            </figure>
                       {% endif %}
                            <div>

                                  <div class="title-wrapper">
                                    <h3 class="title-3">
                                      <a href="#" class="card-title">{{ c.nombre }}</a>
                                    </h3>


                                    <span class="span title-2">${{ c.precio}}</span>
                                  </div>

                                  <p class="card-text label-1">
                                    {% if c.ingredientes %}{{ c.ingredientes }}{% endif %}
                                  </p>

                                </div>

                              </div>
                            </li>
                       {% endif %}
                   {% endfor %}
                </ul>
                   </div>
              {% endfor %}


        </div>
      </section>
<script>
var coll = document.getElementsByClassName("collapsible");
var i;

for (i = 0; i < coll.length; i++) {
  coll[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var content = this.nextElementSibling;
    if (content.style.display === "block") {
      content.style.display = "none";
    } else {
      content.style.display = "block";
    }
  });
}
</script>

{% endblock %}
